.lt { grid-area: left_top; min-height: 200px;}

.t1 { grid-area: top_1; min-height: 200px;}
.t2 { grid-area: top_2; min-height: 200px;}

.rt { grid-area: right_top; min-height: 200px;}

.r1 { grid-area: right_1; min-height: 200px;}
.r2 { grid-area: right_2; min-height: 200px;}

.l1 { grid-area: left_1; min-height: 200px;}
.l2 { grid-area: left_2; min-height: 200px;}

.rb { grid-area: right_bottom; min-height:200px;}

.b1 { grid-area: bottom_1; min-height: 200px;}
.b2 { grid-area: bottom_2; min-height: 200px;}

.lb { grid-area: left_bottom; min-height: 200px;}

.current_view {
    grid-area: center;
}

/* html, body {margin: 0; height: 100%; overflow: hidden} */

#main_view_grid.grid-container {
    display: grid;
    grid-template-columns: 264px 264px 264px 264px;
    grid-template-rows: 205px 205px 205px 205px;
    grid-template-areas:
    'left_top top_1 top_2 right_top'
    'left_1 center center right_1'
    'left_2 center center right_2'
    'left_bottom bottom_1 bottom_2 right_bottom';
    grid-gap: 15px;
    padding: 0px;
}

/*div.jumbotron {
    background-color: #C9CACE;
}*/


div.card > div.scroll-box {
    overflow-y: scroll;
    height: 100px;
}

#main_back_learn_view {
    padding: 0px;

}

body {
}

div.card-header > div.dropdown > div.dropdown-menu {
    min-width: 100px;
    max-width: 100px;
}






