{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href = "{% static '/css/allauth/auth.css' %}"/>
<div class="jumbotron">
        <div class="mx-auto col-xl-3 col-lg-6 col-md-8 col-sm-10 my-5">
            <div class="card">
                <!--<div class="card-header text-center">-->
                    <!--<h3>登入</h3>-->
                <!--</div>-->
                <div class="card-body pb-0">
                    <h2 class="card-title mb-1 mt-4 text-center display-4">踏入 K^2</h2>

                    <form class="form login mx-5 mt-4 mb-4" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label" for="id_login">帳號:</label>
                            <input type="text" class="form-control col-xl-8" id="id_login" autofocus="autofocus" name="login">
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label" for="id_password">密碼:</label>
                            <input type="password" class="form-control col-xl-8" id="id_password" name="password" aria-describedby="passwordHelpBlock">
                            <small class="text-muted form-text col-xl-8 offset-xl-4 p-0" id="passwordHelpBlock">
                                <a class="btn-link" href="{% url 'account_reset_password' %}" id="forget">忘記密碼？</a>
                            </small>
                        </div>
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}

                        <div class="form-group row mt-4 mb-1">
                            <button class="btn btn-secondary mx-auto" type="submit">{% trans "登入" %}</button>
                        </div>
                    </form>
                    {% get_providers as socialaccount_providers %}
                        {% for provider in socialaccount_providers %}
                        <hr  size="1" color="#DDDDDD">
                        <div class="mx-5 mt-4 mb-4 row" >
                            <a class="btn btn-light col-xl-11 offset-sm-1 mb-2" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" >
                                <svg aria-hidden="true" class="svg-icon native iconGoogle" width="18" height="18" viewBox="0 0 18 18"><g><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17z" fill="#34A853"></path><path d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18l2.67-2.07z" fill="#FBBC05"></path><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.77 4.77 0 0 1 4.48-3.3z" fill="#EA4335"></path></g></svg>
                                <span class="mx-2">Google 登入</span>
                            </a>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <!--<p>{% blocktrans with site.name as site_name %}Please sign in with one-->
        <!--of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>-->
        <!--for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>-->

        <!--<div class="socialaccount_ballot">-->

          <!--<ul class="socialaccount_providers">-->
            <!--{% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
          <!--</ul>-->

        <!--</div>-->

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <!--<p>{% blocktrans %}If you have not created an account yet, then please-->
        <!--<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>-->
        {% endif %}
</div>
{% endblock %}
