<div class="container-fluid px-5 mt-3 mb-0">
    <ul class="nav nav-tabs" id="create-tab">
        <li class="nav-item">
            <a
                {% if 'fields' in request.path %}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}
            href="{% url 'fields' tab%}">Fields</a>
        </li>
        <li class="nav-item">
            <a
            {% if 'concepts' in request.path %}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}
            href="{% url 'concepts' tab%}">Concepts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Templates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Paths</a>
        </li>
    </ul>
</div>