<nav id="sidebar"
{% if tab == "0" %}
class='active'
{% endif %}
>
    <div class="sidebar-header">
        <h3><i class="fab fa-squarespace mx-2 py-0" ></i>&nbsp;KSquare</h3>
        <h4 class="text-center">{{user.username}}'s Place</h4>
    </div>

    <ul class="list-unstyled components py-0">
        <li>
            <a href="#">Dash Board</a>
        </li>
        <li>
            <a href="{% url 'concepts'%}">Create</a>
        </li>
        <li>
            <a href="#fieldSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                Learn
            </a>
            <ul class="collapse list-unstyled" id="fieldSubmenu">
                <li>
                    <a href="#">Path</a>
                </li>
                <li>
                    <a href="{% url 'all_concept' tab %}">Wander</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                Fields
            </a>

            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="active">
                    <a href="#" >All</a>
                </li>
                <li>
                    <a href="#">Field 1</a>
                </li>
                <li>
                    <a href="#">Field 2</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Subscribe</a>
        </li>
        <li>
            <a href="#">Favorites</a>
        </li>
    </ul>

</nav>