div#all_fields {
    max-width: 250px;
}

.scroll {
    overflow: scroll;
}

.card-body{
    background: #DFE3E6;
}

.card-header, .card-footer{
    background: #DFE3E6;
    color:  #233A4C;
}

a.list-group-item.active  {
    background-color: #566c73;
    outline: none;
    border: 0px;
}

.boards {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    align-items: stretch;
}
.board {
    display: flex;
    flex-direction: column;
}


.card {
    width: 300px;
}



#document_area {
    flex: 1;
}

/*  Concepts    */
#all_concepts.card {
    width: 450px;
}


.plain  {
    outline: none;
}

.concept-summary {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 1.2em;     /* fallback */
   max-height: 2.5em;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.card-footer.btn {
    border: none;
}

