{% extends 'base.html' %}
{% block main_content %}
{% load staticfiles %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div id="main_view_grid" class="grid-container">
            <div class="card lt">
                <div class="card-header">123</div>
                <div class="card-body ">
                    <p class="card-text scroll-box">123</p>
                </div>
            </div>
            <div class="card t1">
                <div class="card-header">123</div>
                <div class="card-body scroll-box">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card t2">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card rt">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">lorem100</p>
                </div>
            </div>
            <div class="card r1">
                <div class="card-header">r1</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card r2">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card l1">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card l2">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card rb">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card b1">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card b2">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card lb">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
            <div class="card current_view">
                <div class="card-header">123</div>
                <div class="card-body">
                    <p class="card-text">123</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}