{% extends 'personal/base_personal.html' %}
{% load staticfiles %}
{% block content %}
<!--Custon CSS-->
<link rel="stylesheet" type="text/css" href = "{% static '/css/personal_create/fields.css' %}"/>
{% include "partials/personal/_fields_tab.html" %}
<div class="boards">
    <div class="board">
        <div class="card mx-2 mt-4 mb-4" id="all_concepts">
            <div class="card-header border-bottom-0 text-center p-3 h3">
                Concepts
            </div>
            <div class="card-body scroll py-0 px-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        <h5 class="mb-1" contenteditable="true">List group item heading</h5>
                        <p class="mb-1 concept-summary">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <div class="d-flex justify-content-between">
                            <small>3 days ago</small>
                            <small>edited by {{user.username}}</small>
                        </div>

                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                </div>
            </div>
            <a class="card-footer border-top-0 p-2 btn btn-light text-muted"><i class="fas fa-plus mr-1"></i>新增另一個概念</a>
        </div>
    </div>
    <div class="board">
        <input class="plain" type="text">
        <textarea class="plain" name="ass" id="" cols="30" rows="10"></textarea>
    </div>
</div>
<script src="{% static '/js/create/concepts.js'%}"></script>
{% endblock %}