{% extends 'personal/base_personal.html' %}
{% load staticfiles %}
{% load tz %}
{% block content %}
<!--Custon CSS-->
<link rel="stylesheet" type="text/css" href = "{% static '/css/personal_create/fields.css' %}"/>
{% include "partials/personal/_fields_tab.html" %}
<div class="boards">
    <div class="board" id="concepts">
        <form class="ml-0 pl-1 mr-0 mt-2 mb-0 pb-2 formSearch">
            <div class="form-row mb-0">
                <div class="form-group col-sm-9 offset-sm-1 ml-4 mb-0 px-0">
                    <input type="text" id="btnSearchConcepts" class="form-control plain" placeholder="搜尋概念" name="link_filtering_terms">
                </div>
                <div class="form-group col-sm-1 ml-1 mb-0">
                    <button class="btn btn-light px-1 btnNewConcept"><i class="far fa-edit fa-lg"></i></button>
                </div>
            </div>
        </form>
        <div class="scroll pb-0" id="all_concepts">
            <div class="list-group list-group-flush">
            {% if all_concepts %}
                {% for concept in all_concepts %}
                    <a href="#" class="list-group-item  list-group-item-action pl-4 pr-0 py-0 my-0">
                        <div class="mask ml-3 pl-0 pr-3 pb-2 pt-2">
                            <input type="hidden" class="conceptId" value="{{concept.id}}">
                            <h5 class="mb-1">{% if concept.title%}{{concept.title}}{% endif %}</h5>
                            <p class="mb-1 concept-summary">{% if concept.summary %}{{concept.summary}}{% else %}保持冷靜，寫點東西{% endif %}</p>
                            <div class="d-flex justify-content-between">
                                {% if concept.modify_time %}
                                    <small class="time">{{concept.modify_time}}</small>
                                    <small class="owner">edited by {{concept.owner}}</small>
                                {% else %}
                                    <small class="time">{{concept.create_time}}</small>
                                    <small class="owner">by {{concept.owner}}</small>
                                {% endif %}

                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            {% endif %}
            </div>
            <!-- To Copy -->
            <a href="#" class="list-group-item  list-group-item-action pl-4 pr-0 py-0 my-0 d-none toCopy notSaved active">
                <div class="mask ml-3 pl-0 pr-3 pb-2 pt-2">
                    <input type="hidden" class="conceptId" value="">
                    <h5 class="mb-1">未儲存概念</h5>
                    <p class="mb-1 concept-summary">保持冷靜，寫點東西</p>
                    <div class="d-flex justify-content-between">
                        <small class="time">just now</small>
                        <small class="owner">by user</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="board concept-editor ">
        <input class="plain inputConceptTitle mb-3 py-0 h3 mx-5 mt-4" type="text" placeholder="概念標題">
        <textarea class="plain textareaConceptSummary mb-4 mx-5" placeholder="保持冷靜，寫點東西" name="" id=""></textarea>

        <input type="text" class="plain inputConceptTag mb-4 mx-5" placeholder="標籤分類，試著輸入『#我的分類/子分類/孫分類 #分類』">
        <div class="mb-3 plain mx-5 d-flex justify-content-end"><button class="mr-3 btn btn-info" id="saveAddConcept">儲存再新增</button><button class="mr-3 btn btn-danger" id="deleteConcept">刪除概念</button><button class="btn btn-success modify" id="saveConcept">儲存概念</button></div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static '/js/create/concepts.js'%}"></script>
{% endblock %}