{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">
            Welcome to the Knowledge Square!
        </h1>
        <p class="lead">
            Create, Learn, and Share!<br>
            Your personal knowledge bank and
            Public knowledge square.
        </p>
        <a href="{% url 'concept_manage' %}" class="btn btn-lg btn-info">
            Get Started!
            <i class="fas fa-arrow-right pl-2"></i>
        </a>
    </div>
</div>
{% endblock %}