<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $( "#new_link_relation_title" ).change(function() {
        var current_new_link_relation_title = $("#new_link_relation_title").val()
        $.getJSON("{% url 'find_to_name' %}",{'current_new_link_relation_title': current_new_link_relation_title}, function(ret){
            console.log(ret["t_is_f"]);
            $('#t_is_f_cur').text(ret["t_is_f"]);
            })
        })
    });
    $(document).ready(function(){
        $( "#new_link_relation_title" ).click(function() {
        var current_new_link_relation_title = $("#new_link_relation_title").val()
        $.getJSON("{% url 'find_to_name' %}",{'current_new_link_relation_title': current_new_link_relation_title}, function(ret){
            console.log(ret["t_is_f"]);
            $('#t_is_f_cur').text(ret["t_is_f"]);
            })
        })
    });
    $(document).ready(function(){
        $( "#new_link_relation_title" ).keydown(function() {
        var current_new_link_relation_title = $("#new_link_relation_title").val()
        $.getJSON("{% url 'find_to_name' %}",{'current_new_link_relation_title': current_new_link_relation_title}, function(ret){
            console.log(ret["t_is_f"]);
            $('#t_is_f_cur').text(ret["t_is_f"]);
            })
        })
    });

    $(document).ready(function(){
        $( "#new_link_relation_title" ).select(function() {
        var current_new_link_relation_title = $("#new_link_relation_title").val()
        $.getJSON("{% url 'find_to_name' %}",{'current_new_link_relation_title': current_new_link_relation_title}, function(ret){
            $('#t_is_f_cur').text(ret["t_is_f"]);
            })
        })
    });

    <!--$(document).ready(function() {-->
        <!--// get current URL path and assign 'active' class-->
        <!--var pathname = window.location.pathname;-->
        <!--$('.navbar > .container > .collapse > ul > li > a[href="'+pathname+'"]').parent().addClass('active');-->
    <!--})-->
</script>