{% load socialaccount %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">K^2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Square</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">F&nbsp;&&nbsp;Q</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="{% url 'concept_manage'%}">概念創建</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="{% url 'relation_manage' %}">連結創建</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="{% url 'all_concept' %}">探索學習</a>-->
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'field' %}">
                            <i class="fab fa-squarespace"></i>
                            {{user.username}}'s Square
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'account_logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            Sign out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'account_signup' %}">
                            <i class="fas fa-user-plus"></i>
                            Register
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'account_login' %}">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>
<br>